// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: #EEEEEE;
  font-family: 'Roboto Condensed', 'Helvetica Neue' 'Helvetica', 'Tahoma', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
}

p {
  margin: 0;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #ffffff;
}


.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
  height: 350px;
	width: 550px;
  margin: 20px;
  padding: 40px 20px;
  text-align: center;
	background: #FFFFFF;
}

.col {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	padding: 10px;
}

.spacer {
  display: inline-block;
  height: 0;
	width: 550px;
  margin: 20px;
  padding: 40px 20px;
}